.times{
    background-color: rgb(220, 200, 245);
    height: 8em;

}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(220, 220, 220);
}
.titulo{
    font-family: 'Noticia Text', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    font-weight: bolder;
    color: rgb(29, 29, 86);
    font-size: 3.5em;
    
}
.sub{
    font-family: 'Noticia Text', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    font-size: 1em;
    color: rgb(43, 43, 101);
    font-weight: bolder;
}
.back{
    background-color:rgb(43, 43, 101);
    position:sticky;
    top: 0;
}
.back:hover{
    box-shadow: 0 8px 16px 0 rgba(12, 12, 12, 0.2);
}
ul.nav { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.tudo{
    display: flex;
}
ul.nav li {
    float: left;
    
}
ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
ul.nav a:hover{
	background-color: #111;
}
.cardEsq{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 100%;
    margin-left: 0.5%;
    margin-right: 0%;
    margin-top: 0.5%;
    background-color: white;
}
.cardEsq:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardsDireitos{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin-top: 2em;
}
.sem_imagem{
    transition: 0.3s;
    width: 42%;  
    background-color: white;
    height: 12em;
    
}
.sem_imagem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.com_imagem{
    transition: 0.3s;
    width: 49%;
    background-color: white;
    height: 12em;
    display: flex;
    flex-direction: row;
}
.com_imagem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.not{
    
    align: left;
    
}
.linha{
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-around;
}

.Alta{
    font-family: 'Libre Baskerville', serif;
    margin: 2em;
    
}
.EmAlta{
    font-size: 1.5em;
}
.di{
    color: black;
    
}
.descri{
    font-size: 0.75em;
    
}
hr{
	border-width: 0.1em; 
	
    border-top-width: 0px;
    width: 98%;
    text-align: left;
    margin: 0 auto 0 0;

}
.mm{
    margin-left: 0.5em;
}
.noticia{
    
    font-size: 1.15em;

}
.titulo_card{
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    font-weight: bolder;
    color: rgb(43, 43, 101);
}
.descricao_card{
    
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
    margin-top: 2%;
    margin-right: 2%;
}